doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title BERKAS
    // Bootstrap
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    // Custom CSS
    link(rel='stylesheet', href='style/main.css')
  
  body#bs-override
    header
      nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-white
        a.navbar-brand.d-flex.align-content-center(href='/tes')
          img.align-top(src='img/logo-itb-bandung---warna.png', width='40', height='40', alt='')
          p.font-dektm(style='margin-left:15px; margin-top:3px;') DEKTM
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo03.collapse.navbar-collapse
          div(style='margin-left:100px;')
          .navbar-nav
            a.title-nav.nav-item.nav-link.active(href='/jadwal')
              | JADWAL
            a.title-nav.nav-item.nav-link(href='/berkas')
              | BERKAS
            if req
                form.w-35.mx-auto.d-block(action='/logout', method='POST')
                    button.btn-2 Logout

main.main-margin
  p.title-medium Good Day, #{username}!
  .small-space
  div
    form.w-50.mx-auto(action='/berkas', method='post', enctype='application/x-www-form-urlencoded')
      .form-group
          label.d-block.paragraph(for='idpendaftar') ID Pendaftar
          a #{idpendaftar}
      .form-group
          label.d-block.paragraph(for='jalur') Jalur Seleksi
          input#jalur(type='text', name='jalur', placeholder='Seleksi Mandiri/SNMPTN/SBMPTN/S2/S3')
      .form-group
          label.d-block.paragraph(for='files') Pilih File
          select(name='files')
            for item in req
              option(value=item.id) #{item.files}
      .form-group
          label.d-block.paragraph(for='inputfile') Upload File
          .custom-file
              input#inputfile(type='file' aria-describedby='inputGroupFileAddon01')

      .small-space
      button.btn-2.d-block.mx-auto Submit
  .small-space
footer
